<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/posts">AceBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to('My Profile', user_path(current_user), method: :get) %>
      </li>
      <li>
        <%= link_to('Users', users_path, method: :get) %>
      </li>
      <li>
        <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h5>Hello <%= current_user.username %>. You are now signed in!</h5>

  <% @posts.each do |post| %>
    <div class = "container-fluid">
    <p style="max-width: 450px; min-width: 100px">@<%= link_to(User.find(post.user_id).username, user_path(post.user_id), method: :get) %> | <%= post.message %> | <%= post.created_at.strftime("%m/%d/%Y") %></p>
    <p>
      Comments: <% post.comments.each do |comment| %>
         <ul>
           <li>@<%= User.find(comment.user_id).username %> | <%=comment.content%> | <%= comment.created_at.strftime("%m/%d/%Y") %></li>
         </ul>
      <% end %>
    </p>

    <%= link_to like_post_path(post), id: 'like', class: "btn btn-default btn-md", method: :put do %>
      <span class="glyphicon glyphicon-thumbs-up"></span> Likes:
      <%= post.get_upvotes.size %>
    <% end %>
    <%= link_to unlike_post_path(post), id: 'unlike', class: "btn btn-default btn-md", method: :put do %>
      <span class="glyphicon glyphicon-thumbs-down"></span> Unlike:
    <% end %>

    <% comment = post.comments.build %>
      <%= form_for [post, comment], :url => post_comments_path(post) do |comment_fields| %>
        <%= comment_fields.text_area :content, size: "30x1", class: "btn btn-default btn-md", placeholder: "Write a comment..." %>
        <%= comment_fields.submit "Add", class: "btn btn-default btn-md" %>
      <% end %>
  <% end %>
  <div>
  <a>
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </a>
</div>
